/*efecto*/
html {
  scroll-behavior: smooth;
}

body {
  /*background-color: #252833;*/
  margin: 0;
  width: 1280px;
  margin: 0 auto;
  font-family: 'roboto';
}


.contenedor {
  width: 1280px;
  margin: 0 auto;
}

header h1 {
  display: inline-block;
  float: left;
}

header {
  height: 100px;
}

/*menu navbar*/
.secciones {
  width: 100%;
  height: 100px;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.secciones li {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  margin-top: 20px;
}

/*
.iconos {
  z-index: -1;
  position: relative;
  bottom: 15px;
  width: 1195px;
  cursor: pointer;
}*/

nav ul li a {
  width: 200px;
  font-size: 15pt;
  text-decoration: none;
  text-align: center;
  color: black;
}

nav ul li a:hover {
  color: #5B1E71;
}

/*h1 como imagen*/
header h1 {
  background-image: url(./imagenes/Png-gelder.png);
  background-repeat: no-repeat;
  width: 85px;
  height: 85px;
  font-size: 0;
}

/*carousel*/
.carrousel {
  margin-bottom: 0px;
}

.carousel-wrapper {
  height: 520px;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

[id^="item"] {
  display: none;
}

/*imagenes carousel*/
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url(./imagenes/Carrousel/slider1\(x520\).jpg);
  background-size: cover;
}

.item-2 {
  background: url(./imagenes/Carrousel/slider2\(x520\).jpg);
  background-size: cover;
}

.item-3 {
  background: url(./imagenes/Carrousel/slider3\(x520\).jpg);
  background-size: cover;
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}

/*noticias*/

h2 {
  margin-top: 80px;
  text-align: center;
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: grey;
}

.cards {
  margin: 0 auto;
  width: calc(100% - 2em);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "a a b c""a a d d";
  width: 80%;
}

.card {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.card:last-child {
  margin-bottom: 0;
}

.card:before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 47.36%;
}

.card.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.card:nth-child(1) {
  grid-area: a;
}

.card:nth-child(2) {
  grid-area: b;
}

.card:nth-child(3) {
  grid-area: c;
}

.card:nth-child(4) {
  grid-area: d;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-label {
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  background: #089f8a;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  padding: 0.5em;
}

.card-title {
  text-transform: capitalize;
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #d6dbeb;
  z-index: 5;
  font-size: 0.8em;
}

.card.form {
  position: relative;
}

.card.form:before {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.card.form:after {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  content: "";
  background: #252833;
}

.card.form .form-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 7vw;
  font-weight: 900;
  z-index: 5;
  text-transform: uppercase;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card.form .form-title:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  content: "Sign Up";
  opacity: 0.5;
  filter: blur(10px);
  transition: all 0.25s ease;
  z-index: 2;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: translateX(-50%) translateY(-50%);
}

.card:nth-child(2) .card-label {
  background: #ef4e7b;
}

.card:nth-child(3) .card-label {
  background: #1098ad;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

.card:hover .form-title:before {
  filter: blur(3px);
  opacity: 0.7;
}

/*productos*/
#tienda {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 670px;
  margin-bottom: 50px;
}

h3 {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  color: grey;
  padding: 0px;
  margin: 0;
}

.tarjeta {
  display: inline-block;
  width: 290px;
  height: 450px;
  box-shadow: 0 0 3px black;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

.tarjeta img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.detalles-tarjeta {
  padding: 10px;
  color: grey;
  font-size: .9em
}

.detalles-tarjeta h2 {
  font-size: 2em;
}

.detalles-tarjetah3 {
  font-size: 1em;
  font-weight: 400;
}

.detalles-tarjeta p {
  margin-top: 20px;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.6;
  color: grey;
}


.tarjeta-footer {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 10px;
}

.precio {
  margin-bottom: 15px;
  font-size: 15pt;
  font-weight: bold;
  color: darkviolet;
}

.detalles-tarjeta, .tarjeta-footer, .activo {
  position: relative;
  bottom: 304px;
}

.activo:hover {
  position: relative;
  bottom: 304px;
  opacity: 0;
}

.botonTienda {
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 16px;
  font-family: "roboto";
  border: 2px solid #4A2391;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s;
}

.botonTienda:hover {
  background: #4A2391;
  color: #fff;
}

/*galeria*/
#galeria {
  margin-top: -80px;
  width: 100%;
  text-align: center;
}

#galeria img {
  border-radius: 5px;
  display: inline-block;
  max-width: 98%;
  height: auto;
  width: 20%;
  margin: 1%;
}

.imagenGaleria:hover {
  transform: scale(1.1);
}

.fa-angle-up:before {
  color: white;
}

/*sobre nosotros*/
#nosotros {
  margin-bottom: 80px;
}

#nosotros h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50pt;
  text-transform: uppercase;
  color: grey;
  font-weight: 300;
}

#nosotros h4 span {
  display: block;
  color: #5B1E71;
  font-weight: 900;
}

#nosotros p {
  line-height: 30px;
  font-size: 15pt;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-style: italic;
  color: grey;

}

#nosotros p span {
  display: block;
  font-weight: 750;
  font-size: 25pt;
  line-height: 50px;
  color: #5B1E71;
}

/*contacto formulario*/
#formulario {
  border-radius: 10px;
  width: 600px;
  background: #FFFFFF;
  padding: 40px;
  margin: 0 auto;  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#formulario h5 {
  margin-top: -10px;
  text-align: center;
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: grey;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #999999;
}

input {
  width: 100%;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid grey;
}

textarea {
  width: 100%;
  height: 30px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid grey;
  margin-bottom: 15px;
}

.botonFormulario {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  font-family: "roboto";
  border: 2px solid #4A2391;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s;
}

.botonFormulario:hover {
  background: #4A2391;
  color: #fff;
}

/*boton que lleva al principio de la web*/
.scroll {
  z-index: 3;
  color: red;
  border-radius: 50px;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #5B1E71;
  bottom: 40px;
  right: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

/*footer*/
footer {
  margin-top: 80px;
  width: 100%;
}

footer a {
  text-align: left;
  font-size: 15pt;
  margin: 20px;
  color: white;
  text-decoration: none;
}

.aForm:hover {
  opacity: 0.5;
}

.footer-contenedor {
  text-align: center;
  position: relative; 
  background-color: #5B1E71;
  float: left;
  width: 100%;
}

.seccion {
  text-align: left;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  height: 400px;
  width: 150px;
  margin: 0 80px 80px 0;
  line-height: 25px;
}

.seccion h6 {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
}

.seccion a {
  display: block;
}

.copy {
  background-color: grey;
  margin: auto;
  width: 100%;
  text-align: center;
  clear: both;
  line-height: 2em;
  padding: 15px 0 15px 0;
}